[MASTER]
ignore = tests
load-plugins = pylint_common

[MESSAGES CONTROL]
disable=
    missing-function-docstring,
    missing-class-docstring,
    missing-module-docstring

[FORMAT]
max-module-lines=400
max-line-length=120

[DESIGN]
max-args=10